.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 2px solid gold;
}
div {
    border: 1px solid red;
    width: 100px;
}